# Devenv
.devenv*
devenv.local.nix

# Virtual environments
.direnv/
.venv/

# pre-commit
.pre-commit-config.yaml
exercises/ex8-CatsCatsCats/data/preprocessed/
exercises/ex8-CatsCatsCats/data/training_data
exercises/ex6b-AdvancedPixelClassification/__pycache__/LDA.cpython-311.pyc
